<?xml version="1.0"?>
<launch>

  <arg name="map_width" default="11" />
  <arg name="map_height" default="11" />
  <arg name="seed" default="6" />

  <node name="tower_to_map_node" pkg="simple_control" exec="tower_to_map" output="screen"/>

   <!-- planners -->
<node pkg="simple_control" exec="global_planner" name="global_planner_node" output="screen" on_exit="shutdown"></node>

</launch>